---
const nav = [
  { href: '/BlogCaNhan/', label: 'Home' },
  { href: '/BlogCaNhan/blog', label: 'Blog' },
  { href: '/BlogCaNhan/about', label: 'About' },
  { href: '/BlogCaNhan/contact', label: 'Contact' },
  { href: '/BlogCaNhan/projects', label: 'Projects' },
];
// Prefix base cho ảnh/logo
const basePath = Astro.site ? new URL(Astro.site).pathname.replace(/\/$/, '') + '/' : '/';
---
<header class="site">
  <div class="container nav">
    <a class="logo" href="/">
      <img src={`${basePath}images/js.svg`} alt="logo" width="22" height="22" />
      <span><b>Lê Nguyễn Duy Khang</b> – Blog cá nhân</span>
    </a>
    <nav class="menu">
      {nav.map((i) => <a href={i.href}>{i.label}</a>)}
    </nav>
  </div>
</header>

